* { 
  position: relative; 
  box-sizing: border-box; 
  } 

  body, html { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    background-color:#f8f8f8; 
    font-family: 'Inter', sans-serif;
    font-size:14px;
  }
  
  #root{
    height: 100%;
    width: 100%;
  }

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(img/frame.png); 
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .container{
    margin-left: auto;
    margin-right: auto;
    width: 533px;
    height: 680px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgb(235, 234, 234);
  }

  .form{
    margin: 25px 80px 0px 80px;
  }

  .logo{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    height: 45px;
  }

  .logo .logo__img{
    width: 100%;
    text-align: left;
    vertical-align: middle;
  }

  .logo .logo__text{
    width: 100%;
    text-align: left;
    vertical-align: middle;
    line-height: 14px;
    box-sizing: border-box;
    padding-left: 35px;
  }

  .divisor{
    height: 42px;
    width: 1px;
    border-left: 2px solid rgb(208, 216, 226);
  }

  .fields{
    font-weight:400;
    padding-top: 25px;
    line-height: 35px;
  }
  
  .fields .fields__item.fields__item-two{
    display: flex;
    justify-content: space-between; 
  }

  .fields .item-first{
    width: 170px;
  }
  
  .fields .item-second{
    width: 173px;
  }

  input{
    border: 1px solid #cac1c1; 
    border-radius: 3px; 
    height: 40px; 
    width:100%; 
    padding:2px;
    margin: 3px 0; 
  }
    
  button {
    margin-top: 25px;
    border:none;
    background-color:#95e17a;
    color:rgb(0, 0, 0);
    height: 40px;
    width:100%;
  } 

  .bottom{
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .footer{
    position:fixed;
    top:95%
  }

  .error{
    border-color: red;
  }

  .global-error{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
    position:absolute;
    width: 100%;
    bottom: 0;
    height: 32px;
  }