body {
    font: 15px normal;
    margin: 20px;
    background-color:#f8f8f8;
    
  }
  
  .background{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 735px;
    height: 800px;
    background-image: url(img/frame.png); 
    background-repeat: no-repeat;
  }
  .container{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 725px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgb(235, 234, 234);
  }
  .content {
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .logo{
    display: flex;
    align-items: center; 
  }
  .logo-img{
    width: 225px;
    height: 25px;
    text-align: left;
    vertical-align: middle;
  }
  .logo-text{
    width: 215px;
    height: 50px;
    text-align: left;
    vertical-align: middle;
    border-left: 2px solid rgb(208, 216, 226);
    font-stretch: ultra-condensed;
    box-sizing: border-box;
    padding-left: 70px;
  }
  .fields{
    font: 16px normal; 
    font-weight:400;
    margin-top: 25px;
    line-height: 35px;
    
  }
  .field-two{
    display: flex;
    justify-content: space-between; 
  }

  input{
    border: 1px solid #cac1c1; 
    border-radius: 3px; 
    height: 30px; 
    width:100%; 
    padding:2px;
    margin: 3px 0;
    font-size: 11px; 
  }
  
  input[type="submit"] {
    font-size: 14px;
    margin-top: 25px;
    border:none;
    background-color:#95e17a;
    color:rgb(0, 0, 0);
    font-weight:400;
    height: 35px;
    width:100%;
  } 

  .footer{
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-top: 15px;
  }

